<div class="jumbotron">
  <div class="container">
    <h1 id="titulo1">Título</h1>
    <p>Otro titulo</p>
    <a class="btn btn-danger btn-lg glyphicon glyphicon-piggy-bank "href="http://google.cl" role="button"><span class="glyphicon glyphicon-piggy-bank"style="font-size:30px; color:white"> Google <span class="glyphicon glyphicon-piggy-bank"style="font-size:30px; color:black"></span></a>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header <small>Subtext for header</small></h1>
      </div>
      <a href="http://google.cl" target="_blank">Google en otra pagina</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Subtítulo</h2>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h3 style="display:inline">Sub Subtítulo </h3><span class="label label-default">New</span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h6>subsubsubsubsubtitulo</h6><span class="label label-default">New</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="https://www.udechile.cl">
      <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Emblema_del_Club_Universidad_de_Chile.png" alt="Logo del Bulla">
      </a>
      <hr>
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Emblema_del_Club_Universidad_de_Chile.png" alt="img" class="img-responsive">

      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
  <div class="col-md-4">
      <p class="h1"> Titulo y la ctm</p>
  </div>
  <div class="col-md-4">
      <p class="h1"> Titulo y la ctm</p>
  </div>
  <div class="col-md-4">
      <p class="h1"> Titulo y la ctm</p>
  </div>
  <div class="col-md-4">
      <p class="h1"> Titulo y la ctm</p>
  </div>
</div>
<div class="row">
<div class="col-md-4">
    <p class="h1"> Titulo y la ctm</p>
</div>
<div class="col-md-4">
    <p class="h1"> Titulo y la ctm</p>
</div>
<div class="col-md-4">
    <p class="h1"> Titulo y la ctm</p>
</div>
<div class="col-md-4">
    <p class="h1"> Titulo y la ctm</p>
</div>
</div>
</div>
